<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        	<h4 class="modal-title" style="color:green;">ADD BLOOD GLUCOSE LEVEL</h4>
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        	<div id='form'>
	          <%if @user_report.present?%>	
	          	<%=render :partial => "form"%>
	          <%end%>	
	        </div>  
        </div>
      </div>
      
    </div>
</div>