// Place all the styles related to the user_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, thead, td {
  border: 1px solid black;
}

thead {
    background-color: #5cb85c;
    color: white;
} 

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   -o-appearance:none;
   appearance:none;
   margin:30px 0;
   padding: 10px 50px 10px 10px;

   border-radius: 4px;
   border:2px solid;
   width:250px;
   background: url('/assets/arrow_drop_down.png') no-repeat 95% center;
}

.input_background
{
  height: 48px;
    font-size: 12pt;
    padding-left: 8px;
    border: 2px solid black;
    border-radius: 4px;
    background: url('/assets/arrow_drop_down.png') no-repeat 95% center;
}